{% extends 'base.html' %}

{% block title %}
  Home
{% endblock  %}

{% block content %}

<h1>Clients List</h1>
<br>
<a href="{% url 'add_client' %}" class="btn btn-primary">Add Client</a>
<a href="{% url 'export_clients' %}" class="btn btn-info">Export as csv</a>
<a href="{% url 'exoprt_with_pdf' %}" class="btn btn-warning">Export as pdf</a>
<br><br>
<p>
<form action="{% url 'search_clients' %}" method="get">
  <input type="text" name="q" placeholder="Search by name or city">
  <button type="submit">Search</button>
</form>
</p>

<table class="table table-primary table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">Created_at</th>
      <th scope="col">Product</th>
      
    </tr>
  </thead>
  <tbody class="table table-striped">
    
      {% for client in clients %}
      <tr>
      <td><a href="{% url 'client_detail' client.id %}">{{ client.id }}</a></td>
      <td>{{ client.full_name }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.phone }}</td>
      <td>{{ client.city}}</td>
      <td>{{ client.created_at }}</td>
      <td><a href="{% url 'client_products' client.id %}">Products</a></td>

      

    </tr>
      {% endfor %}
  
  </tbody>
</table>





{% endblock %}