{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>
<div class="d-flex justify-content-center">
    <form class="w-50 p-4 border rounded shadow" method="POST">
      {% csrf_token %}
        <h3 class="text-center mb-3">Login</h3>
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
{% endblock %}
